[submodule "crlEEG"]
	path = crlEEG
	url = https://github.com/hdamon/crlEEG
[submodule "crlBase"]
	path = crlBase
	url = https://github.com/hdamon/crlBase
[submodule "labelledArray"]
	path = labelledArray
	url = https://github.com/hdamon/labelledArray
[submodule "MatTSA"]
	path = MatTSA
	url = https://github.com/hdamon/MatTSA
[submodule "guiTools"]
	path = guiTools
	url = https://github.com/hdamon/guiTools
